<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nauka Python</title>
</head>
<body>
    {%include 'paseknawigacyjny.html' %}
    {% block content %}
    replace paseknawigacyjny.html
    {% endblock %}
</body>
</html>