{% extends 'Baza.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <h1>Kontakt : Piotreqniedbala@o2.pl</h1>
</head>
<body>

</body>
</html>
{% endblock %}

