{% extends 'Baza.html' %}
{% block content %}

<h3> {{ opis_strony | upper }} </h3>
<title>O Nas</title>
<h1>Junior programista</h1>

{{ zmienna_html | safe }}
<p>
    {{moje_dane}}, {{numer_telefonu}},{{moja_lista}}
</p>

<ul>
    <li> Element1 </li>
    <li> Element2 </li>
</ul>
<ul>
    {% for abc in moja_lista %}
        {% if abc == 456 %}
            <li>{{ forloop.counter }}  -- {{ abc|add:50 }}</li>
        {% elif abc == "Psycho" %}}
            <li> Pycho coś tam </li>
        {% else %}
            <li> {{ forloop.counter }} -- {{ abc }} </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}



